

.table {
  height: 200%;
  background-color: lightblue;
}


body {
  background-image: url('bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

.button ul {
  position:sticky;
  top: 0;
}
.button li {
  float:left;
  list-style-type: none;
  background-color: #cccccc;
  border-top-style: solid;
  border-top-color: red;
  border-top-width:8px;

}
li a {
  display:block;
  padding: 10px 25px 15px 25px;
}
li a:hover {
  background-color: #aaaaaa
}
